.idea

ajax/test
canvas/test
css3/test
jichu/test
jQuery/test
js/test
vue/test
webAPI/test

# nodejs 相关
nodejs/test
nodejs/js/node_modules
nodejs/hacker-news模块化改造/node_modules

# vue 相关
vue/webpack-basic/node_modules
vue/webpack-basic/dist
vue/todomvc-app/node_modules
vue/shop_admin/node_modules

# react 相关
react/react-app-demo/node_modules