<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="./vue2.js"></script>
</head>

<body>
  <div id="app">
    <input type="text" v-model="firstName">
    <input type="text" v-model="lastName">
    <h1>全名：{{fullName}}</h1>
  </div>

  <script>
    let vm = new Vue({
      el: "#app",
      data: {
        firstName: "",
        lastName: ""
      },
      // computed计算属性：根据已有属性计算出新的属性
      computed: {
        // 函数的名字可以作为新的属性被使用
        fullName() {
          return this.firstName + this.lastName
        }
      }
    })
  </script>
</body>

</html>